# Ignore git files
.git
.gitignore

# Ignore docker related files
Dockerfile
docker-compose.yml

# Ignore temporary files
.next/
out/
build/
dist/
coverage/
.env
.env.*
!.env.example

# Ignore dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
